name: Build

on: push

env:
  KHINSIDER_REPO: obskyr/khinsider
  KHINSIDER_REF: bd7ef673ec7af5ce8f580df8f7a3f0746ff1a1ad

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: short-sha
        name: Get short sha
        run: echo "SHA=${KHINSIDER_REF:0:7}" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ghcr.io/gabe565/khinsider
          tags: |
            type=raw,priority=1000,value=latest
            type=raw,value=sha-${{ steps.short-sha.outputs.SHA }}
            type=raw,value=sha-${{ env.KHINSIDER_REF }}
          labels: |
            org.opencontainers.image.title=khinsider.py
            maintainer=gabe565
            org.opencontainers.image.vendor=gabe565
            org.opencontainers.image.description=A script for khinsider mass downloads. Get video game soundtracks quickly and easily!
            org.opencontainers.image.source=https://github.com/${{ env.KHINSIDER_REPO }}
            org.opencontainers.image.revision=${{ env.KHINSIDER_REF }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and Push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          pull: true
          push: ${{ github.ref_name == 'main' }}
          platforms: linux/amd64,linux/arm/v6,linux/arm64/v8
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            KHINSIDER_REPO=${{ env.KHINSIDER_REPO }}
            KHINSIDER_REF=${{ env.KHINSIDER_REF }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
